.tag-list {
  display: flex;

  padding: 0px;
  margin: 0px;
}
.diff-range {
  border: none;
  box-shadow: none;
  padding-top: 10px;
}
.space-around {
  display: flex;
  justify-content: space-around;
}
.filter-item {
  padding: 10px;
}
.filter-container {
  max-width: 380px;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow-x: auto;
}
.filter-header {
  background: dimgrey;
  padding: 10px;
  color: white;
}

.tag-item {
  background-color: #dddddd;

  border-radius: 5px;
}
