.algorithm-attention-before-text {
  color: var(--primary-component-color);
  font-size: 1rem;
}
.algorithm-attention-contest-left-time {
  color: var(--secondary-color);
  font-size: 0.8rem;
  margin-top: 10px;
}

.algorithm-attention-contest-name {
  color: var(--primary-component-color);
  font-size: 1rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

.algorithm-attention-register-link {
  color: var(--primary-component-color);
  font-size: 1rem;
  text-decoration: underline;
}
