.info-item {
  align-items: center;
  width: 25%;
  display: flex;
  justify-content: center;
}
.info-item-extend {
  display: flex;
  align-items: center;
}
.info-item-extend:hover {
  cursor: pointer;
}
.show {
  display: block;
}
.hidden {
  display: none;
}
.submission-row {
  display: flex;
  width: 100%;
  padding: 5px;
}
.problem-title {
  color: #3d7ec5;
  font-weight: bold;
}
.user-acc {
  color: gray;
  font-weight: bold;
}
.submission-item {
  border-bottom: 1px solid #ddd;
  font-size: 18px;
}

.normal-row {
  background-color: azure;
}
.submission-list {
  border: 1px solid #ddd;
  margin-left: 10px;
}
.red {
  color: red;
  font-weight: bold;
}
.submission-row .time {
  font-size: 16px;
}
.testcase-item {
  width: 300px;
}
