.algorithm-container {
  padding: 20px;
  padding-left: 50px;
  /* margin-top: 50px; */
}

.algorithm-random-btn,
.algorithm-goto-math-btn {
  display: flex;
  align-items: center;
}

.algorithm-random-btn p,
.algorithm-goto-math-btn p {
  margin-right: 10px;
}

.td-item {
  text-align: center;
}
