.img-note {
  position: relative;
}
.note-text {
  background-color: lightblue;
  padding: 10px;
  border-radius: 5px;
}

.sol-item:hover {
  cursor: pointer;
}

.mathnote {
  margin-top: 10px;
  margin-bottom: 10px;
}

.author-by {
  color: gray;
  border-bottom: 1px solid gray;
  margin-bottom: 10px;
}
