.logout-button {
  margin-top: 20px;
  width: 150px;
  outline: none;
  color: #fff;
  border: none;
  background: var(--primary-component-color);
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
}

.logout-button span {
  display: block;
  width: 100%;
  height: 100%;
  padding: 8px 16px;
}

.logout-button:before,
.logout-button:after {
  position: absolute;
  content: '';
  height: 0%;
  width: 1px;
  background: var(--primary-component-color);
  transition: all 0.5s ease;
}

.logout-button:before {
  right: 0;
  top: 0;
}

.logout-button:after {
  left: 0;
  bottom: 0;
}

.logout-button:hover {
  color: var(--primary-component-color);
  background: transparent;
}

.logout-button:hover:before {
  height: 100%;
}

.logout-button:hover:after {
  height: 100%;
}

.logout-button span:before,
.logout-button span:after {
  position: absolute;
  content: '';
  background: var(--primary-component-color);
  transition: all 0.5s ease;
}

.logout-button span:before {
  left: 0;
  top: 0;
  width: 0%;
  height: 1px;
}

.logout-button span:after {
  right: 0;
  bottom: 0;
  width: 0%;
  height: 1px;
}

.logout-button span:hover:before {
  width: 100%;
}

.logout-button span:hover:after {
  width: 100%;
}
