.tag-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  padding: 0;
  width: 350px;
}
.diff-range {
  border: none;
  box-shadow: none;
  padding-top: 10px;
}
.space-around {
  display: flex;
  justify-content: space-around;
}
.filter-item {
  padding: 10px;
}
.filter-container {
  border: 1px solid #ddd;
  border-radius: 5px;
}
.filter-header {
  background: black;
  padding: 10px;
  color: white;
}

.tag-item {
  margin: 8px;
  background-color: #dddddd;
  padding: 5px;
  border-radius: 5px;
}
